<div class="jumbotron">
  <p><%= handler_info @conn %></p>

  <h3>Keys for the conn Struct</h3>

  <ol class="list-group">
  <%= for key <- connection_keys @conn do %>
    <li class="list-group-item"><%= key %></li>
  <% end %>
  </ol>

</div>
